
<div class="container">
  <div id="inbox">
    <div class="return-profile">
          <%= link_to 'Back to Profile', users_profile_path(current_user), class: 'return-profile' %>
        </div>
    <div class="welcome">
      <h2>Welcome <%= @current_user.name %></h2>
      <h5>You have <%= pluralize(@messages.count, 'message') %> in your Inbox </h5>
    </div>

    <!-- Message title rows -->


    <!-- List of messages -->
    <div class="message-list">
      <div class="row borders heading">
        <div class="col-xs-4 text-heading"><i class="fas fa-user icons-messages"></i>Sender</div>
        <div class="col-xs-2">✔ Status</div>
        <div class="col-xs-4 text-heading"><i class="fas fa-envelope icons-messages"></i></i>Message</div>
        <div class="col-xs-2"></div>
      </div>

      <div class="row ">
        <% @messages.each do |message| %>
        <ul class="spacing_messages">
          <li>
          <div class="col-xs-4" style="justify-content: space-between;">
            <% if message.sender == current_user %>
             <div class="col-xs-3">
                <%= cl_image_tag(message.receiver.avatar_url, class: 'avatar-small') %>
            </div>
            <div class="col-xs-9" style="margin-top: 10px;">
                <%= message.receiver.name%>
            </div>
            <% else %>
              <%= cl_image_tag(message.sender.avatar_url, class: 'avatar-small') %>
              <%= message.sender.name %>
            <% end %>
          </div>

          <div class="col-xs-2">
            <% if message.read? %>
              <div style="color: #66B9BF">✔✔</div>
            <% else %>
              <div style="color: #C7C7CF">✔✔</div>
            <% end %>
          </div>

          <div class="col-xs-4">
            <%= message.content %> ...
          </div>

          <div class="col-xs-2">
            <%= link_to 'View Message', user_message_path(current_user, message), class: 'view' %>
          </div>
        </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>





