
<div class="container">
  <h3><strong><%=@user_receiver.name%></strong></h3>
  <% @messages.each do |message| %>
      <div class="message <%= message.sender == current_user ? ' text-right' : ''%>">
      <p><%= message.content %></p>
    </div>
  <% end %>

  <%= simple_form_for [@user_receiver, @message_new] do |ef| %>
    <%= ef.input :content, as: :text %>
    <div class="text-right">
      <%= ef.button :submit, "Send", class: "btn-small" %>
    </div>
  <% end %>
</div>
