
<div class="container chat-body">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="chatroom">
        <div class="return">
          <%= link_to 'Back to Inbox', user_messages_path(current_user), class: 'back' %>
        </div>


        <div class = "chat-title">
          <%#= @user.avatar_url %>
          <p>Chatting with <%=@user_receiver.name%> </p>
        </div>


        <div class="message-body">
          <!-- <div class="row">
            <div class="col-xs-1"> -->
              <% @messages.each do |message| %>
              <div class="message
                <%= message.sender == current_user ? 'text-right'  : ''%>
                <%= message.sender == current_user ? 'text-primary'  : ''%>">
                <p><%= message.content %></p>
                <!-- <img class="avatar-small-messages"> -->
              </div>
             <% end %>
            <!-- </div>
          </div> -->
        </div>

        <div class="chat_form">
        <%= simple_form_for [@user_receiver, @message_new] do |ef| %>
        <%= ef.input :content, as: :text %>
          <div class="text-right">
          <%= ef.button :submit, "Send", class: "btn-small" %>
          </div>
        <% end %>
      </div>

      </div>
    </div>
  </div>
</div>
