<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :location, required: true %>
    <%= f.input :birthday, required: true %>
    <label>what is your gender?</label>
    <div class="list in-line">
        <%= label_tag(:gender_male,   "Male") %>
        <%= radio_button_tag(:gender, "male") %>
        <%= label_tag(:gender_male,   "Female") %>
        <%= radio_button_tag(:gender, "female") %>
        <%= label_tag(:gender_male,   "Other") %>
        <%= radio_button_tag(:gender, "other") %>
      <%= f.input :tagline, required: true %>
      <%= f.input :biography, required: true %>
      <label>What can people contact you about and how much would you say you know?</label>
        <%= f.simple_fields_for :expertise do |ef| %>
          <%= ef.input :topic, as: :select, collection: Topic.all %>
        <% end %>
        <div class="list in-line">
          <%= label_tag(:expertise,   "little") %>
          <%= radio_button_tag(:expertise, "male") %>
          <%= label_tag(:expertise,   "some") %>
          <%= radio_button_tag(:expertise, "female") %>
          <%= label_tag(:expertise,   "a fair amount") %>
          <%= radio_button_tag(:expertise, "other") %>
          <%= label_tag(:expertise,   "quite a lot") %>
          <%= radio_button_tag(:expertise, "female") %>
          <%= label_tag(:expertise,   "I'm an expert") %>
          <%= radio_button_tag(:expertise, "other") %>
        </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


end




