

  <div class="container">

  <div class="container container-blue col-xs-12 col-md-2-offset-5"></div>

    <div class= "profile col-xs-12 col-md-2-offset-5">

      <div class="container-profile">
        <div class="row-profile ">

          <div class="profile-avatar">
            <%= cl_image_tag(@user.avatar_url, class:"avatar-large") %>
          </div>

          <div class="profile-info">
            <div class="name-tagline">
              <h1><%= @user.name%></h1>
              <h4><%= @user.tagline %></h4>
            </div>
            <div class="role-location">
              <h2><%= @user.role %> years old</h2>
              <h5><i class="fas fa-map-marker-alt"></i> <%= @user.location %></h5>
            </div>

          </div>

        </div>



      </div>


      <div class="container container-profile-body col-xs-12 col-md-2-offset-5">
        <div class="profile-content">
          <div class="row">

            <div class="col-sm-4">
              <div class="left-wishlist list-border">

                <div class="flex-container">
                  <div class="flex-item">
                    <%= image_tag 'owlicon.svg', class:"orange-owl" %>
                  </div>
                  <div class="flex-item">
                    <h2>Experiences</h2>
                  </div>
                </div>

                <ul class="expertise-list ">
                  <% @user.expertises.each do |expertise| %>
                    <div class="topic-name">
                      <li><%= expertise.topic.name %></li>
                    </div>

                  <% end %>
                </ul>
                <a href=""><%= link_to "Add Experiences", "#testExpertise", "data-toggle" => "modal" %></a>
                <%= render "shared/modal_for_expertise" %>
              </div>

              <div class="left-wishlist">

                <div class="flex-container">
                  <div class="flex-item">
                    <%= image_tag 'wishlist.png', class:"orange-wish" %>
                  </div>
                  <div class="flex-item">
                    <h2>My Wishlist</h2>
                  </div>
                </div>
                  <ol class="wishlist-list">
                    <% @user.wishes.each do |wish| %>
                      <li><%= wish.description %></li>
                    <% end %>
                  </ol>
                 <a href=""><%= link_to "Add Wish", "#testWishlist", "data-toggle" => "modal" %></a>
                    <%= render "shared/modal_for_wishlist" %>
              </div>

            <div class="col-sm-8">
              <div class="profile-main-content">
                <h2>About Me</h2>

                  <div class="row row-aboutme">
                    <div class="col-sm-12">
                      <div class="aboutme-card">
                        <p><%= @user.biography %></p>
                      </div>
                    </div>
                  </div>

              </div>
            </div>

        </div>

      </div>

    </div>

  </div>











