 <!-- view notifications(messages, calendar)
view messages
view calendar (meetings) -->
<div class="wrapper">
  <div class="container">

    <div class="container container-blue"></div>

    <div class="container container-profile">
      <div class="row row-profile">
        <div class="profile-avatar"> <%#= @user.avatar_url %>
          <%= cl_image_tag(@user.avatar_url, class:"avatar-large") %>
        </div>
        <div class="profile-info">
          <h1><%= @user.name%></h1>
          <h4><%= @user.birthday %></h4>
          <h5><%= @user.location %></h5>
        </div>
      </div>
      <div class="row row-tagline">
        <div class="profile-tagline">
          <h2><%= @user.tagline %></h2>
        </div>
      </div>
    </div>

    <div class="container container-grey">
      <div class="row"
        <div class="basic-info">
        <h3>Biography</h3>
          <p><%= @user.biography %></p>
        </div>
      </div>

    <div class="row">
      <div class="other-expertise">
        <h3>Areas of Expertise</h3>
          <ul>
            <% @user.expertises.each do |expertise| %>
            <li><%= expertise.topic.name %></li>
              <li><%= expertise.experience %></li>
            <% end %>
          </ul>
        </div>
    </div>



    <%= link_to "Messages", "#testMessage", "data-toggle" => "modal", class:"btn-small" %>
    <%= render "shared/modal_for_message" %>


    </div>


</div>




<%#= link_to "Saves", "#testSave", "data-toggle" => "modal", class:"btn btn-primary" %>
<%#= render "shared/modal_for_save" %>

<%#= link_to "Expertise", "#testExpertise", "data-toggle" => "modal", class:"btn btn-primary" %>
<%#= render "shared/modal_for_expertise" %>







