<h1>This is the User's Profile</h1>
<h3>Info</h3>
  <%= @user.name %>
  <%= @user.birthday %>
  <%= @user.location %>
  <%= @user.tagline %>
  <%= @user.biography %>

<h3>Expertises</h3>
  <ul>
    <% @user.expertises.each do |expertise| %>
    <li><%= user.expertise.topic.name %></li>
      <li><%= user.expertise.experience %></li>
    <% end %>
  </ul>

<h3>Wishlist</h3>
  <ul>
    <% @user.wishlists.each do |whishlist| %>
      <li><%= user.wishlist.description %></li>
    <% end %>
  </ul>

<h3>Saves</h3>
  <ul>
    <% @user.saves.each do |save| %>
      <li><%= user.save %></li>
    <% end %>
  </ul>

<h3>Inbox</h3>
  <ul>
      <% @user.messages.each do |message| %>
        <li><%= user.message %></li>
      <% end %>
  </ul>

<%= render "shared/testmodal" %>
<%= link_to "ModalTest", "#testModal", "data-toggle" => "modal" %>


<!-- view notifications(messages, calendar)
view messages
view calendar (meetings) -->
