<div class="text-center"><h1 class="heading-index">Find a Buddy</h1></div>

  <div class="container">
    <div class="row">
      <% @results.each do |result| %>
        <div class="col-xs-12 col-md-3">
          <div class="card card-index">
            <%= link_to user_path(result) do %>
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' <%= cl_image_path result.avatar_url, :gravity=>"face" %> ')">
                <div class="card-location">
                  <p> <%= result.location %></p>
                </div>
                  <p class="card-description"><%= result.name %></p>
              </div>

              <div class="card-footer">
                <p><%= result.name %><p>
                <ul class="list-inline">
                  <li><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-star"></i></a></li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


